.navigation {
    position: absolute;
    top: 40px;
    left: calc((100vw - 1200px) / 2);
    background: white;
    width: 1200px;
    height: 80px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin: 0 20px 0 0;
    }

    &__title {
        color: black;   
        letter-spacing: 3px;
    }

}